.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 120px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    font-size: 15px;
}
.nav-connect{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    font-size:16px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap:3px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
    height: 12px;
    width: 37px;

}
.anchor-link{
    color: white;
    text-decoration: none;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width:768px){
    .nav-connect{
        display: none;
    }
    .navbar{
        margin: 20px 6%;
    }
    .nav-mob-open{
        display: block;
        position: absolute;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: absolute;
        top: 30px;
        right: 7%;
        width: 30px;
    }
   .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right .5s;
        right: -300px;
        padding-top: 100px;
        right: -350px;
}
.nav-menu li{
    font-size: 22px;
    padding-left: 50px;
    flex-direction: row;
    gap: 20px;
}
}
